@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --surface: 18, 18, 18;
  --text-primary: rgba(255,255,255,0.87);
  --text-secondary: rgba(255,255,255,80);
  --inverse: 0, 0, 0;
  --foreground: 255, 255, 255; */

  --surface: 255, 255, 255;
  --text-primary: rgba(0, 0, 0, 0.87);
  --text-secondary: rgba(0, 0, 0, 0.6);
  --inverse:255, 255, 255;
  --foreground :  0, 0, 0;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: 18, 18, 18;
    --foreground: #ededed;
  }
} */

body {
  background: rgb(var(--surface));

  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components{
  .content-box{
    @apply max-w-[1840px] mx-auto px-4 md:px-8 
  }

  .paragraph{
    @apply text-text-secondary text-base md:text-lg font-light text-pretty
  }

  .link{
    @apply text-text-secondary text-[12px] font-normal duration-300
  }
  .salt{
    font-feature-settings: "ss03","ss02" ,"ss08"; 
  }
  .clamp{
    font-size: clamp(1rem, 0.8483rem + 0.4854vw, 1.625rem);
  }
  .clamp2{
    font-size: clamp(1.5rem, 0.8932rem + 1.9417vw, 4rem);
    letter-spacing: -0.03em;
    line-height: 105%;
  }
}
